<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ásia</title>
</head>
<body>
    
 

    <body>
       

        <body>
          <div style="color: rgb(179, 133, 33);">

          
          <h1 style="text-align:center;">Tudo que você precisa saber sobre a Ásia</h1>
         </div>
         <div style="color: rgb(126, 112, 68);">

       
          <p style="text-align:center;">A Ásia é o maior continente, tanto em área (chega a quase um terço de todas as terras emersas do nosso planeta) como em população, onde habitam aproximadamente 4,5 bilhões de habitantes.</p>
    
      </body>
      
      <div style="text-align: center;">
        <img src="https://static.wixstatic.com/media/e1ee38_a5ab4b0a06684ae2bbf61778831d38fc~mv2.png/v1/crop/x_123,y_0,w_1449,h_1080/fill/w_756,h_564,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/MISPA%20-%20%C3%81SIA.png" alt="" width="27%">
      </div>
      
      
    </div>   
      <div style="color: rgb(126, 112, 68);"> 
      &nbsp;  &nbsp; <h2>Países Asiáticos: </h2>
  </div>
      <nav>
      <ul>
          <button>
              
            <a href="{% url 'cazaquistao' %}">cazaquistao</a>
        </button>
          &nbsp;
          &nbsp;
          &nbsp;
          <button>
            <a href="{% url 'filipinas' %}">filipinas</a>
        </button>
          &nbsp;
          &nbsp;
          &nbsp;
          <button>
            <a href="{% url 'iraque' %}">iraque</a>
        </button>
          &nbsp;
          &nbsp;
          &nbsp;
      </ul>
      </nav>
      
 
    
    <body>
      
      <div style="color: rgb(126, 112, 68);">
      <h1>Divisão da Ásia em regiões:
      </h1>
      </div>
      <div style="color: rgb(179, 133, 33);">
         
          <p>
            ➢ Oriente Médio
         </p>
         <p>
            ➢ Subcontinente indiano
          </p>
          <p>
            ➢ Sudeste asiático
          </p>
          <p> 
            ➢ Centro-leste
          </p>
          <p>
            ➢ Extremo Oriente
          </p>
          <p>
            ➢ Parte asiática da Comunidade de Estados Independentes
          </p>
     
      </div>
  </div>
      &nbsp;
      &nbsp;
      &nbsp;
      <body>
          <div style="color: rgb(126, 112, 68);">
          <h2>Colonização e História da Ásia
          </div>
          </h2>
         <div style="padding:0% 50px ;">

         
          <div style="color: rgb(179, 113, 33);">

            <div style="text-align: center;">
                <img src="https://static.wixstatic.com/media/06206e_d6f1524aba1c4bd2b444ffcec9b6af80~mv2.png/v1/fill/w_446,h_252,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/asia-1.png" alt=""width="20%">
            </div>
        
          <p style="text-align:center;">O termo Ásia seria uma referência a uma das ninfas da oceânida, mais conhecida como Clímene.

            Antigamente, o termo Ásia servia para designar a atual Ásia Menor (Anatólia) que, por sua vez, pode ser derivado do acádio (w)aṣû(m), que significa "subir", "sair", com respeito ao nascer do sol.
            
            Sua história, porém, pode ser entendida como a que narra o surgimento do leste asiático, da Ásia meridional e do Oriente Médio.
            
            A civilização asiática teve início há mais de 4 000 anos e seu povo fundou as cidades mais antigas, assim como foram os fundadores de todas as religiões mais relevantes do mundo.
            
            Cada uma daquelas regiões desenvolveu uma civilização ao longo de vales férteis de rios, enquanto a estepe era habitada por nômades a cavalo que, a partir delas, alcançavam qualquer parte do continente asiático.
          </p>
        <p>
            Entretanto, a Cáucaso, os Himalaias, o deserto de Karakum e o deserto de Gobi representavam barreiras que os cavaleiros das estepes dificilmente atravessavam.

Muitas civilizações antigas foram influenciadas pela famosa Rota da Seda, que ligava a China, a Índia, o Oriente Médio e a Europa.

As nações do Oeste da Europa conquistaram territórios na Ásia entre os séculos XVI e o XIX. Assim, as maiores potências europeias apossaram-se de partes da Ásia, como a Índia britânica, a Indochina francesa e Macau e Goa, que estiveram sob autoridade portuguesa.

Após a Segunda Guerra Mundial (1939-1945), o continente asiático foi transformado no centro das batalhas entre países que adotam o comunismo como aparelho de governo e países que utilizam o capitalismo como preceito econômico.
        </p>  
        </div>
      </div>    
      </body>

      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
      


      <div style="color: rgb(126, 112, 68);">
        <h2>Economia da Ásia
        </div>
        </h2>
       <div style="padding:0% 50px ;">

       
        <div style="color: rgb(179, 113, 33);">


      
        <p style="text-align:center;">Na Ásia existem países desenvolvidos, como Japão, Coreia do Sul, Israel, Singapura ou Taiwan, que despontam níveis de prosperidade econômica e qualidade de vida comparáveis aos da Europa ou da América Anglo-Saxônica.

            Por outro lado, todo o continente distingue-se por exibir populações muito pobres, em contraste com elites detentoras de enormes riquezas.
        .</p>
        </div>
    </div>    
    </body>
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    
    <div style="color: rgb(126, 112, 68);">
        <h2>Indústria na Ásia
        </div>
        </h2>
       <div style="padding:0% 50px ;">

       
        <div style="color: rgb(179, 113, 33);">


      
        <p style="text-align:center;">A maior economia na Ásia, em termos de produto interno bruto (PIB), é a China, seguida da Índia e Japão.

            Contudo, pelo critério do PIB nominal o Japão é considerado a maior economia asiática e a segunda maior do mundo.
            
            Esse país foi, durante muito tempo, o mais industrializado dos países asiáticos, o qual se destacou na fabricação de navios, automóveis e produtos elétricos e eletrônicos de alta tecnologia.
            
            Na China, o parque industrial tem-se destinado à fabricação de itens essenciais ao mercado interno.
            
            Apenas a partir de meados da década de 1970 a economia chinesa deu início, de fato, a produção voltada para exportação.
            
            A Índia, utiliza sua produção agrícola e as riquezas minerais para abastecer suas indústrias têxteis, alimentícias, siderúrgicas e metalúrgicas. Já na região oriental da Rússia, encontramos muitos centros de indústrias de base.
        .</p>
        </div>
    </div>    
    </body>

</body>
</html>