<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cazaquistão</title>
</head>
<body>
    <body>
       

        <body>
          <div style="color: rgb(179, 133, 33);">

          
          <h1 style="text-align:center;">Tudo que você precisa saber sobre o Cazaquistão</h1>
         </div>
         <div style="color: rgb(126, 112, 68);">

       
          <p style="text-align:center;">
            O Cazaquistão é um país que está localizado na Ásia, cuja capital é Astana.</p>
      </div> 
      </body>
      
      
      
      
        <div style="color: rgb(126, 112, 68);"> 
      &nbsp;  &nbsp; <h2>guia: </h2>
  </div>
      <nav>
      <ul>
          <button>
            <a href="https://mundoeducacao.uol.com.br/geografia/cazaquistao.htm">click aqui para mais informações</a>
        </button>
         
      </ul>
      </nav>
      
 
    
    <body>
      <div style="text-align:center;">
        <img src="https://static.vecteezy.com/system/resources/previews/016/391/691/non_2x/kazakhstan-flag-country-png.png" alt="" width="20%">
      </div>
      <div style="color: rgb(126, 112, 68);">
      <h1>Tópicos deste artigo:
      </h1>
      </div>
      <div style="color: rgb(179, 133, 33);">
         
          <p>
            ➢ introdução
         </p>
         <p>
            ➢ História do Cazaquistão
        </p>
          <p>
            ➢ Clima do Cazaquistão
          </p>
          <p> 
            ➢ Relevo do Cazaquistão
          </p>
          
      </div>
  </div>
      &nbsp;
      &nbsp;
      &nbsp;
     <div style="text-align: center;">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3e/Kazakhstan_%28orthographic_projection%29.svg/255px-Kazakhstan_%28orthographic_projection%29.svg.png" alt="">
    </div>
      <body>
          <div style="color: rgb(126, 112, 68);">
          <h2>introdução
          </div>
          </h2>
         <div style="padding:0% 50px ;">

         
          <div style="color: rgb(179, 113, 33);">


        
          <p style="text-align:center;">O Cazaquistão é um país localizado na região da Ásia Central. Sua capital é a cidade de Nursultan, cujo nome foi adotado recentemente. Possui mais de 2,7 milhões de km² de área e uma população de 18.770.000 habitantes, sendo a cidade de Almaty a mais populosa. O país é um dos principais produtores e exportadores mundiais de urânio, sendo rico também em petróleo e minerais.

          </p>
          </div>
      </div>    
      </body>
      <body>
        <div style="color: rgb(126, 112, 68);">
        <h2>História do Cazaquistão

        </div>
        </h2>
       <div style="padding:0% 50px ;">

       
        <div style="color: rgb(179, 113, 33);">


      
        <p style="text-align:center;"> A área que hoje corresponde ao Cazaquistão já pertenceu a diversos impérios, com destaque para os domínios turco, persa e mongol. Os cazaques eram povos nômades que conseguiram se estabelecer em extensas porções de terra a partir do Mar Cáspio, abrangendo, com o passar do tempo, quase todo o território do atual país. Os conflitos que envolveram os cazaques e povos de domínios vizinhos entre os séculos XVII e XVIII fizeram com que os russos penetrassem em seu território pelo norte, passando a exercer forte domínio naquela região.
        </p>
    <P>
        A ocupação russa no atual Cazaquistão se intensificou a partir das primeiras décadas do século XX, culminando na incorporação formal do país à União Soviética em 5 de dezembro de 1936. A influência desse período pode ser observada até hoje na paisagem urbana do Cazaquistão principalmente. Pouco antes da dissolução da URSS, o território decretou a sua soberania, em outubro de 1990, e a sua independência foi declarada um ano depois, em 16 de dezembro de 1991.    </P>    
    </div>
    </div>    
    </body>
    <body>
        <div style="color: rgb(126, 112, 68);">
        <h2>Clima do Cazaquistão
        </div>
        </h2>
       <div style="padding:0% 50px ;">

       
        <div style="color: rgb(179, 113, 33);">


      
        <p style="text-align:center;">O clima no país é do tipo continental árido. Sua principal característica é a elevada amplitude térmica, com verões quentes e invernos rigorosos. As temperaturas mínimas podem chegar a -19 ºC, e o recorde de frio foi de - 45 ºC. No verão, os termômetros costumam marcar 29 ºC em média. A pluviosidade é baixa, variando de 200 a 500 mm anuais.</p>
   
    </div>
    </div>    
    </body>

    <body>
        <div style="color: rgb(126, 112, 68);">
        <h2>Relevo do Cazaquistão

        </div>
        </h2>
       <div style="padding:0% 50px ;">

       
        <div style="color: rgb(179, 113, 33);">


      
        <p style="text-align:center;">Os planaltos e as montanhas são predominantes na composição do relevo do Cazaquistão. Ao sul e sudoeste estão localizadas as porções mais rebaixadas do relevo, com destaque para a depressão do Mar Cáspio e para os desertos de Kyzylkum e Muyunkum. A leste ficam os terrenos mais elevados e também acidentados do país.</p>
            <p>
                Na fronteira tríplice entre Cazaquistão, China e Quirguistão, está o pico de Khan Tangiri Shyngy, que fica a 6.995 metros acima do nível do mar, consistindo no ponto mais elevado do país."
            </p>
    </div>
    </div>    
    </body>
</body>
</html>