<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <body>
       

        <body>
          <div style="color: rgb(179, 133, 33);">

          
          <h1 style="text-align:center;">Filipinas</h1>
         </div>
         
      
      
      
      <img src="https://assets.stickpng.com/images/5e906fc0bd45ba0004842999.png" alt="" width="15%">
      
  </div>
      
    <body>
      <div style="text-align:center;">
        <img src="img/macacopng.png" alt="" width="20%">
      </div>
      
      &nbsp;
      &nbsp;
      &nbsp;
      <body>
       
        
        <div style="color: rgb(126, 112, 68);">
          <h2>Cultura e povo das Filipinas
          </div>
          </h2>
          <div style="text-align: center;">
            <img src="https://image.shutterstock.com/image-vector/illustration-people-different-nationalities-wearing-260nw-133791977.jpg" alt="">
        </div> 
          <div style="padding:0% 50px ;">

         
          <div style="color: rgb(179, 113, 33);">


        
          <p style="text-align:center;">O filipino é basicamente de ações malaio com uma pitada de sangue chinês, americano, espanhol e árabe. As Filipinas têm uma população de 70 milhões, e é difícil distinguir com precisão as linhas entre as unidades populacionais.

            A partir de uma longa história de dominação colonial ocidental, intercaladas com as visitas de mercadores e comerciantes, evoluiu de um povo de uma mistura única de Oriente e Ocidente, tanto na aparência e na cultura.
            
            O personagem filipino é realmente um pouco de todas as culturas juntas. O Bayanihan ou espírito de parentesco e camaradagem que os filipinos são famosos por se diz ser tomadas a partir de antepassados ??malaios. As relações familiares próximos são disse ter sido herdado dos chineses.
            <p>
                A piedade vem dos espanhóis, que introduziu o cristianismo no século 16. A hospitalidade é um denominador comum no caráter Filipino e isso é o que distingue o filipino. Filipinos são provavelmente um dos poucos, se não o único, Inglês-proficientes povos orientais hoje. Pilipino é a língua oficial nacional, com o Inglês considerado como um não-oficial do país.
            
                Os filipinos são divididos geograficamente e culturalmente em regiões, e cada grupo regional é reconhecível por traços distintos e dialetos – os llocanos resistentes e frugal do norte, os Tagalogs industriosos das planícies centrais, as Visayans despreocupados das ilhas centrais e as tribos coloridas e muçulmanos religiosos de Mindanao.
                <p>
                    Há elementos chineses e espanhóis também. A história do domínio americano e contato com mercadores e comerciantes culminaram em uma mistura única de Oriente e Ocidente, tanto na aparência e da cultura dos povos do filipinos, ou pessoas das Filipinas.
                
                    Hospitalidade, uma característica apresentada por todos os filipinos, faz com que essas pessoas lendário no Sudeste Asiático. Raramente você pode encontrar pessoas tão hospitaleiras que apreciam a companhia de seus visitantes ocidentais. Talvez devido à sua longa associação com a Espanha, os filipinos são emocionais e apaixonado pela vida de uma forma que parece mais do que América asiática.
                    
                    Os espanhóis introduziu o cristianismo (católico romano fé) e conseguiu converter a esmagadora maioria dos filipinos. Pelo menos 80% do total da população pertence à fé católica romana.

                </p>
                Comunidades tribais podem ser encontrados espalhados em todo o arquipélago. As Filipinas têm mais de 111 dialetos falados, devido às subdivisões desses grupos básicos regionais e culturais.
                
                Alguns de 80 por cento da população é católica, legado duradouro da Espanha. Cerca de 15 por cento é muçulmana e essas pessoas podem ser encontrados basicamente em Mindanao. O resto da população é composta principalmente de pequenas denominações cristãs e budistas.
                
                O país é marcado por uma verdadeira mistura de culturas; verdadeiramente, nas Filipinas, o Oriente encontra o Ocidente. O fundo do povo é indonésio e malaio.
                
          
            
            A ocupação americana era responsável por ensinar o povo filipino do idioma Inglês. O Brasil é atualmente o terceiro maior país de língua Inglês no mundo.
          </p>
          </div>
      </div>    
      </body>
</body>
</html>