<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="angola.html">
    <link rel="stylesheet" href="egito.html">

    <title>África</title>
</head>
<body>

    <div style="color: rgb(179, 133, 33);">    
        <h1 style="text-align:center;">Tudo sobre o continente Africano</h1>
    </div>
    
    <div style="text-align:center;">
        <img src="https://cdn.pixabay.com/photo/2016/03/31/22/38/africa-1297148_960_720.png" alt="" width="28%">
    </div>

    <div style="padding:0% 50px ;">   
        <div style="color: rgb(179, 113, 33);">
        <p style="text-align:center;">África é um dos seis continentes do mundo, sendo o terceiro maior em extensão territorial. O território estende-se por mais de 30 milhões de km², ocupando, aproximadamente, 20% da área continental da Terra. No continente vive mais de um bilhão de habitantes, fazendo dele o segundo mais populoso entre os demais.

            A África é conhecida pela sua pluralidade étnica e cultural, e, por meio de uma história milenar, é capaz de contar a história de toda a humanidade. Apesar da enorme riqueza do continente, muitos países africanos apresentam baixos índices de desenvolvimento, com diversos problemas sociais, como a miséria, baixa qualidade de vida, subnutrição e o analfabetismo.
        </p>
        </div>
    </div>   
    
    <div style="color: rgb(126, 112, 68);"> 
  &nbsp;  &nbsp; <h2>Países Africanos: </h2>
</div>
  <nav>
  <ul>
      <button>
        <a href="{% url 'angola' %}">angola</a>

      </button>
      &nbsp;
      &nbsp;
      &nbsp;
      <button>
        <a href="{% url 'egito' %}">egito</a>
 
     </button>
      &nbsp;
      &nbsp;
      &nbsp;
     
  </nav>
  

  <body>
    
    <div style="color: rgb(126, 112, 68);">
    <h3>Os países africanos dividem-se em duas principais regiões — o Norte da África e a África Subsaariana — e também se distribuem em: </h1>
    </h3>
    </div>
    <div style="color: rgb(179, 133, 33);">
       
        <p>
        ➣  África Central

       </p>
       <p>
        ➣ África Meridional

    
        </p>
        <p>
        ➣ África Setentrional

        </p>
        <p> 
        ➣ África Ocidental

        </p>
        <p>
        ➣ África Oriental

        </p>
   
   
    </div>
</div>
<div style="color: rgb(126, 112, 68);">
  <h2>Clima da África

  </div>
  </h2>
 <div style="padding:0% 50px ;">

 
  <div style="color: rgb(179, 113, 33);">



  <p style="text-align:center;"> O território africano é bastante diverso em termos climáticos. Podemos encontrar áreas com predomínio do clima equatorial, outras de clima tropical, assim como há também regiões de clima desértico e mediterrâneo. O clima equatorial é registrado na região ocidental; o tropical, na região central e sul; o desértico, na região setentrional, assim como o clima mediterrâneo.


    <div style="color: rgb(126, 112, 68);">
    <h2>Relevo da África
    
      </div>
    </h2>
     <div style="padding:0% 50px ;">
    
     
      <div style="color: rgb(179, 113, 33);">
    
    
    
      <p style="text-align:center;"> O continente africano apresenta, em quase todo o seu território, planaltos com, aproximadamente, 750 metros de altitude limitados por escarpas.    </p>
<p>
  "Na região do deserto do Saara (região setentrional), encontra-se o planalto setentrional por onde percorre o Rio Nilo. Na região leste, encontra-se grandes montanhas como o Kilimanjaro e o Monte Quênia. Já na parte meridional, encontra-se a cadeia do Cabo, com altitude que ultrapassa 3400 metros.

</p>
    </body>
</html>